@if (Session["Email"] != null)
{

    <ul class="nav navbar-nav navbar-right">
        <li><p>Korisnik: @Session["Email"].ToString()</p></li>
        @*<li>@Html.ActionLink("Lista škola", "Index", "Skola")</li>
        @{
            string admin = Session["Admin"].ToString();

            if (admin == "True")
            {
                <li>@Html.ActionLink("Korisnici", "Izlistaj", "KorisnikAdmin")</li>
            }
        }*@
        <li>@Html.ActionLink("Odjavi se", "Izloguj", "Login")</li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Prijava", "Index", "Login")</li>
    </ul>
}
